@import "bulmaStyles";
@import "icons";

#searchBox {
  max-width: 900px;

  .activator {
    @include hamburger(2.5rem);

    span {
      color: white;
    }
  }

}

span.arrow {
  cursor: pointer;
}

.form-button {
  width: 50%;

  &.is-left {
    float: left;
  }

  &.is-right {
    float: right;
    text-align: right;
  }
}

#sortBox {
  select, option {
    font-family: ludoteca-icons, sans-serif;
  }
}
