.icon > i {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.arrow-right-down-line {
  background-image: url('../icons/arrow-right-down-line.svg');
}

.cake-2-line {
  background-image: url('../icons/cake-2-line.svg');
}

.group-line {
  background-image: url('../icons/group-line.svg');
}

.medal-line {
  background-image: url('../icons/medal-line.svg');
}

.scales-2-line {
  background-image: url('../icons/scales-2-line.svg');
}

.team-line {
  background-image: url('../icons/team-line.svg');
}

.time-line {
  background-image: url('../icons/time-line.svg');
}

.timer-line {
  background-image: url('../icons/timer-line.svg');
}
