{% trans_default_domain 'app' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

<footer class="footer">
    {% block footer %}
        <div class="content has-text-centered">
            <p>
                {% trans with {
                    '%bggLink%': '<a href="https://www.boardgamegeek.com" title="BoardGameGeek">BGG</a>',
                    '%userLink%': '<a href="https://boardgamegeek.com/collection/user/' ~ import.username  ~ '">' ~ import.username ~ '</a>' } %}%bggLink% Personal Library. Game data sourced from BGG directly. List of games sourced from user %userLink%.{% endtrans %}

            </p>
            <p>{% trans with {'%dateTime%': import.dateTime} %}Last data import performed at %dateTime%{% endtrans %}
                .</p>
            <p>{% trans with {
                    '%openGitHubLink%': '<a href="https://github.com/yivi/bgg-personal-library" title="Github Repo">',
                    '%closeGitHubLink%': '</a>'
                } %}Code can be found %openGitHubLink%here%closeGitHubLink%. Live long and prosper. 🖖{% endtrans %}</p>
        </div>
    {% endblock %}
</footer>
</body>
</html>
